In [1]:
import os
import boto3
import pandas as pd
from io import BytesIO
from botocore.config import Config
from classes import functions as f
from sqlalchemy import create_engine

In [2]:
NESSIE_URI = os.environ.get("NESSIE_URI") ## Nessie Server URI
BRONZE = os.environ.get("BRONZE") ## BUCKET TO WRITE DATA TOO
AWS_ACCESS_KEY = os.environ.get("AWS_ACCESS_KEY") ## AWS CREDENTIALS
AWS_SECRET_KEY = os.environ.get("AWS_SECRET_KEY") ## AWS CREDENTIALS
AWS_S3_ENDPOINT= os.environ.get("AWS_S3_ENDPOINT") ## MINIO ENDPOINT
#DB_URI = 'postgresql+psycopg2://username:password@localhost:5432/mydatabase'
DB_URI = 'postgresql+psycopg2://dashaqui:dashaqui@postgres:5432/lakehouse_a3'

In [3]:
ps = f.postgres(
    host='postgres',
    port='5432',
    database='lakehouse_a3',
    user='dashaqui',
    password='dashaqui'
)

ps.conectar()

Conectado com sucesso!

In [4]:
df_channel = pd.read_csv('/data/channels.csv')
df_channel = df_channel[['channel_name', 'channel_type']]
df_channel.head(2)

  channel_name channel_type
0  OTHER PLACE  OWN CHANNEL
1  PHONE PLACE  OWN CHANNEL

In [5]:
create_channel_sql = """
DROP TABLE IF EXISTS dim_channel CASCADE;

CREATE TABLE dim_channel (
    channel_id SERIAL PRIMARY KEY,
    channel_name varchar(255) NOT NULL,
    channel_type varchar(255) NOT NULL
);
"""

In [6]:
ps.query(create_channel_sql)

engine = create_engine(DB_URI)

df_channel.to_sql(
    'dim_channel',
    engine,
    if_exists='append',
    index=False)

Query executada com sucesso!

40